ul {
  list-style: none;
  padding: 0;
}
.drop-down-list__el:not(:last-child) {
  margin-bottom: 10px;
}

.wrapper {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  font-family: sans-serif;
}

.drop-down-list__main {
  display: flex;
  justify-content: space-between;
}

.drop-down-list__wrapper {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #ed1846;
}
.drop-down-list__wrapper:hover {
  cursor: pointer;
}

.list__title {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.list__btn {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ed1846;
}
.list__btn:before,
.list__btn:after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 10px;
  height: 2px;
  top: calc(25px / 2 - 2px / 2);
  transition: 0.2s linear;
}
.list__btn:before {
  left: 5px;
  transform: rotate(45deg);
}
.list__btn:after {
  left: 11px;
  transform: rotate(-45deg);
}
.list__btn--active:before {
  transform: rotate(135deg);
}
.list__btn--active:after {
  transform: rotate(-135deg);
}

.drop-down-list__holder {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  /*   padding: 1px 20px; */
  left: 0;
  top: 0;
}
.drop-down-list--hidden {
  transform: scaleY(0); /*translateY(-100%);*/
  opacity: 0;
  pointer-events: none;
}

.drop-down-list {
  position: absolute;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  transition: 0.5s;
  width: 100%;
  box-sizing: border-box;
  transform-origin: 50% 0;
}

/* checkbox */
.checkbox {
  display: none;
}

.checklist__label {
  position: relative;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.checklist__label::before {
  position: absolute;
  content: "";
  top: 0px;
  left: -30px;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  background-color: transparent;
  border-color: #000;
}
.checklist__label:hover::before {
  border-color: #ec1847;
  cursor: pointer;
}

.checkbox:checked + .checklist__label::before {
  background-color: #ec1847;
  border-color: #ec1847;
}
.checkbox:checked + .checklist__label::after {
  position: absolute;
  content: "";
  top: 2px;
  left: -28px;
  height: 2px;
  width: 7px;
  border: 2px solid transparent;
  border-left-color: #fff;
  border-bottom-color: #fff;
  transform: rotate(-45deg);
}
/* checkbox */
